<style scoped>
    .toolbar{
        visibility: {{visibility}};
    }

</style>
<div class="toolbar">
    <input type="button" onclick="back()" value="back" />
    <input type="button" onclick="forward()"  value="forward" />
    <input type="button" onclick="pause()"  value="pause" />
    <input type="button" onclick="play()"  value="play" />
    <input type="button"  onclick="subTimeScale()" value="<<<" />
    <input type="button" onclick="addTimeScale()"  value=">>>" />
    <input type="button" onclick="stop()"  value="stop" />
</div>